/* Header.css */

.header {
  background-color:lightblue;
  color: #fff;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  
}

.nav-item {
  
  padding: 0 10px;
  margin-top: -40px;
  margin-left: 40px;
  margin-right: 40px;
  
}

.nav-link {
  text-decoration: none;
  color: #fff;
  
}

.nav-link:hover {
  text-decoration: underline;
}
